#root {
  margin: 0 25%;
}

nav, footer {
  padding: 2.5% 3%;
}

.parentComponent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5% 2.5%;
}

.shadow {
  text-shadow: 1px 1px 1px 1px grey;
}

input {
  margin: 2.5% 0;
}

.message {
  margin-top: 2.5%;
}
